DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/bhome?schema=public"
JWT_SECRET="your-secret-key-change-in-production-min-32-characters"
FRONTEND_URL="http://localhost:3001"
NODE_ENV="development"
PORT=3000
